<% content_for :title do %>
	FAQ
<% end %>

<section class="article__section">
	<h1 class="faq__first-heading">Frequently Asked Questions</h1>

	<h2 class="faq__second-heading">What does your company offer?</h2>
	<p class="faq__paragraph">Our logistics company provides a wide range of services for the delivery of goods both within the country and abroad. We specialize in fast and reliable delivery so that your orders arrive on time and in perfect condition.</p>

	<h2 class="faq__second-heading">How can I track my order?</h2>
	<p class="faq__paragraph">
		After sending the order, you will send a unique tracking number (tracking number). Using this number on our site, you will know the current status on your site as well.
	</p>

	<h2 class="faq__second-heading">Do you have express delivery services?</h2>
	<p class="faq__paragraph">
		Yes, we offer express delivery services for those who need immediate delivery of goods.
	</p>

	<h2 class="faq__second-heading">What products do you deliver?</h2>
	<p class="faq__paragraph">
		We deliver a wide range of products including documents, electronics, clothing, food and much more. There are certain restrictions on dangerous or prohibited goods.
	</p>

	<h2 class="faq__second-heading">If the product was damaged during delivery, what should I do?</h2>
	<p class="faq__paragraph">
		If your item was damaged during shipping, please contact our support team as soon as possible. We will promptly resolve the issue of compensation or product replacement.
	</p>

	<h2 class="faq__second-heading">Can I change the delivery address after the order has been shipped?</h2>
	<p class="faq__paragraph">
		Yes, you can change the shipping address by contacting our support team. Please note that the change of address is possible only up to a certain stage of delivery.
	</p>

	<h2 class="faq__second-heading">How can I contact your support?</h2>
	<p class="faq__paragraph">
		Our support service can be found by phone, email or via chat on our website. We are always ready to help you with any questions or problems.
	</p>
</section>
