<% content_for :title do %>
	Log In
<% end %>

	<section class="registration">
		<div class="registration__container">
			<form class="registration__form" action="">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required>
				<button type="submit">Login</button>
			</form>

			<p class="attention-message">
				Don't have an account? <a class="sign-up__reference" href="sign-up.html">Sign up here.</a>
			</p>
		</div>
	</section>
